---
title: Decorate
description: "Tests decorate by performing a simple specialisation on each series type."
categories: functional
tags:
- decorate
- functional
testScripts:
- decorate.js
---

<div id="decorate"></div>
