<header>
  <div class="container">
    <h1>D3FC Visual Tests</h1>
    <label id="visuals-toggle">
      <input type="checkbox" id="visuals-toggle-check" checked> show test visuals?
    </label>
  </div>
</header>