<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header }}
    <link href="{{assets}}/index.css" rel="stylesheet">
  </head>
  <body>
    {{> index-page-header }}

    <div class="jumbotron">
      <div class="container">
        <h1>D3 Visual Tests</h1>
      </div>
    </div>

    <div id="main" class="container">
      <div class="row">
        <div class="col-md-12">
      
          {{> body }}

          <section id="tags">
            <p>Filter by selecting a tag:</p>
            {{> index-tag-filter }}
            <hr>
          </section>

          <section id="tests">
            {{> index-test-list }}
          </section>

        </div>
      </div>
    </div>

    <footer>
      <script src="{{assets}}/jquery.min.js"></script>
      <script src="{{assets}}/bootstrap/js/bootstrap.min.js"></script>
      {{> footer }}
      <script src="{{assets}}/index.js"></script>
    </footer>
  </body>
</html>