---
title: Chart Builder
description: "The main purpose of chartBuilder is to simplify the logic required when resizing charts or update the data. This test resizes the chart container then asks the builder to render."
categories: utilities
tags:
- chart buidler
testScripts:
- chartBuilder.js
---

<div id="chartBuilder"></div>
