html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #fff;
  padding: 10px 20px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

#main {
  margin-top: 67px;
}

h1, h2, h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #3399ff;
}

a:focus,
a:hover {
  text-decoration: underline;
  color: #003399;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 67px;
  padding: 10px 30px;
  color: #fff;
  background-color: #111;
  border-bottom: 4px solid #3399ff;
  z-index: 11;
}

header h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

iframe {
  width: 100%;
  max-width: 940px;
  height: 472px;
  border: 0;
}

.hero {
  font-size: 20px;
  background-color: #efefef;
  padding: 10px;
}

#menu-option {
  float: right;
  visibility: hidden;
  line-height: 43px;
}