---
title: Bar Static
categories: series
tags:
- bar
testScripts:
- bar.js
---

<style>
  #bar .bar-1 { fill: red; }
  #bar .bar-2 { fill: green; }
  #bar .bar-3 { fill: blue; }
  #bar .bar-4 { fill: yellow; }
  #bar .bar-5 { fill: purple; }
</style>
<div id="bar"></div>
