---
title: Test with separate script
description: Demonstrates that separate scripts can be easily referenced (the JS doesn't have to be inline!).
---
<div id="test"></div>

<script src="external.js"></script>  