---
title: Test with separate script
description: Separate scripts can be easily referenced (the JS doesn't have to be inline!).
tags:
- demo
---
<div id="test"></div>

<script src="external.js"></script>