---
# This is the main page - containing a list of all tests
title: Index
layout: index.hbs # Override the default layout for the index page
notATest: true # Don't show this page in the list in the index page
---
<p>Welcome to the <strong>new</strong> visual tests!</p>
<p><small>Click a link to view a test on its own page.</small></p>