---
# This is the main page for the visual tests - listing all tests
title: Index
layout: index.hbs # Override the default layout for the index page
exclude: true # Don't show this page in the list in the index page
---
<p>This is some body text!</p>