---
title: "fc.scale.dateTime (with weekends hidden) and d3.scale.linear"
categories: scale
tags:
- hide weekend
- fc.dateTime
- d3.linear
- scale
testScripts:
- fc-time-d3-linear-hide-weekend.js
---


<div id="fc-time-fc-linear-hide-weekend"></div>