---
title: Indicators Combined
categories: indicators
tags:
- indicator
testScripts:
- indicators-combined.js
---

<style>
#indicators-combined g.moving-average path {
    stroke: red;
}
</style>
<div id="indicators-combined"></div>
<div id="indicators-combined-rsi"></div>
